<h1><a href="https://vox-nostra.com/">vox nostra</a></h1>
<p>die berühmte kathedrale notre-dame de paris spielte im ausgehenden 12. und im 13. jh. eine zentrale rolle bei der entstehung mehrstimmiger liturgischer kompositionen. neben einem neu entstandenen konvolut zweistimmiger kompositionen durch magister leonin um 1180 wurden kurze zeit später in mehreren handschriften auch drei- und vierstimmige kompositionen von magister perotin überliefert. in der unterstimme erklingen hier die traditionellen gregorianischen choräle in langen haltetönen, während durch die oberstimmen ein imposantes und bewegtes klanggebäude entsteht.
 
aus ganz europa reisten staunende zeitgenossen nach paris, wie es uns der anonymer autor anonymus iv überliefert hat, um diese neue klangkunst mit eigenen ohren zu hören und in der an akustik, höhe und bunten glasfenstern unübertroffenen kathedrale selbst zu erleben.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/biz3h1u5jck" title="youtube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>inspiriert durch die idee des "ya¹ tagesfestival für aktuelle musik" wird das programm durch ausgewählte gesänge des mittelalters ergänzt, die über einem konstant klingenden bordunton (drone) gesungen werden. die hypnotische wirkung dieser kompositionen hat die jahrhunderte überdauert und ist auch heute noch spürbar.
 
<strong>ausführende</strong></p>
<ul>
<li>winnie brückner (sopran)</li>
<li>philipp cieslewicz (altus)</li>
<li>burkard wehner (bariton und musikalische leitung)</li>
<li>werner blau (bass)</li>
</ul>