<h1><a href="https://vox-nostra.com/">vox nostra</a></h1>
<p>the famous notre-dame de paris cathedral played a central role in the creation of polyphonic liturgical compositions in the late 12th and 13th centuries. in addition to a new volume of two-part compositions by magister leonin around 1180, three- and four-part compositions by magister perotin were also handed down in several manuscripts a short time later. in the lower voices, the traditional gregorian chants are heard in long sustained tones, while the higher voices create an imposing and moving sound structure.
 
from all over europe, astonished contemporaries travelled to paris, as the anonymous author anonymus iv conveyed, to hear this new art of sound with their own ears and to experience it for themselves in the cathedral, which is unsurpassed in terms of acoustics, height and stained glass windows.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3a//api.soundcloud.com/tracks/425091486&color=%23f2c7c7&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: interstate,lucida grande,lucida sans unicode,lucida sans,garuda,verdana,tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-763572856" title="winnie b." target="_blank" style="color: #cccccc; text-decoration: none;">winnie b.</a> · <a href="https://soundcloud.com/user-763572856/titelnummer-13" title="vox nostra - a. sancta maria + magnificat" target="_blank" style="color: #cccccc; text-decoration: none;">vox nostra - a. sancta maria + magnificat</a></div>
<p>inspired by the idea of the "ya¹ day festival for contemporary music", the programme is complemented by selected chants from the middle ages sung over a constant-sounding drone. the hypnotic effect of these compositions has survived the centuries and can still be felt today.
 
<strong>performers</strong></p>
<ul>
<li>winnie brückner (soprano)</li>
<li>philipp cieslewicz (alto)</li>
<li>burkard wehner (baritone and musical direction)</li>
<li>werner blau (bass)</li>
</ul>