<h1>ya¹ ensemble</h1>
<p>das speziell für die erste ausgabe des ya¹ tagesfestival für aktuelle musik gebildete ensemble besteht aus fünf jungen musikerinnen aus dem ruhrgebiet.</p>
<p>für dieses konzert wurden zwei stücke selektiert die den drone als immanentes element beinhalten:</p>
<h2>"gradients of time" von chiyoko szlavnics</h2>
<p>das äußerst anspruchsvolle material der komposition wurde durch das akustische konzept eines "kritischen bandes" inspiriert, das chiyoko szlavnics durch james tenneys komposition critical band von 1988 kennengelernte.</p>
<p>die originalzeichnungen von <em>gradient of detail</em> zeigen, wie die form des werks als triptychon konzipiert wurde; wie eine solche außergewöhnlich statische musik intuitiv entworfen wurde, um sich in der zeit und im tonraum zu entfalten. sie zeigen auch, wie unisonos und stille wichtige strukturelemente sind, wobei die stille dem hörer einige momente bietet, um die intensität des gerade gehörten zu lösen, bevor die musik weitergeht.</p>
<p>die zeichnungen, die an pflanzenstrukturen erinnern, wurden von den kindheits begegnungen mit der fremdartig aussehenden milkweed-pflanze inspiriert: ihre schoten, ihre seidigen "fallschirmsamen" und ihre gelegentlichen besucher, die raupen des monarchfalters. milkweed ist die einzige pflanze, auf der der monarch seine eier ablegt. tragischerweise sind die lebensräume der pflanze entlang der wanderrouten des schmetterlings in nordamerika durch moderne landwirtschaftliche praktiken weitgehend zerstört worden.</p>
<h2>"prisma interius vi - for vt" von catherine lamb:</h2>
<p>das viola-torros-projekt ist eine fortlaufende forschungsarbeit der komponisten und interpreten catherine lamb und johnny chang, die darauf abzielt, die kompositionen einer vormittelalterlichen komponistin, viola torros, zu realisieren und zu bearbeiten.</p>
<p>viola t. war eine anonyme komponistin, die außerhalb der religiösen und akademischen einrichtungen ihrer zeit arbeitete. in ihrer eigenen praxis dokumentierte sie ihre werke in einer minimal effektiven weise, gerade genug, um mit ihren mitarbeitern zu kommunizieren, aber kaum genug, um ein vermächtnis für spätere generationen von liebhabern ihrer musik zu erhalten.</p>
<p>das konzept der "forschung", auf das sich das viola-torros-projekt bezieht, umfasst das studium verschiedener relevanter musikstile des vormittelalters (arabische, byzantinische und indische modi) und die untersuchung möglicher melodischer und harmonischer entwicklungen, die v. t. entdeckt haben könnte. indem ein aspekt eines solchen musikstils ausgewählt wird, werden details entdeckt und in einem arrangement für zwei bratschen präsentiert, oft mit zusätzlichen ergänzungen.</p>
<hr />
<p><strong>ausführende:</strong></p>
<ul>
<li>jae a shin (geige)</li>
<li>karin nakayama (geige)</li>
<li>sofia von atzingen (bratsche)</li>
<li>rebekka stephan (cello)</li>
<li>ying yu (keyboard)</li>
</ul>