<h1>ya¹ ensemble</h1>
<p>the ensemble, specially formed for the first edition of the ya¹ day festival for contemporary music, consists of five young musicians from the ruhr area.</p>
<p>for this concert, two pieces were selected that contain the drone as an intrinsic element:</p>
<h2>"gradients of time" by chiyoko szlavnics</h2>
<p>the composition's extremely challenging material was inspired by the acoustical concept of a 'critical band'. chiyoko szlavnics had been introduced to the concept by james tenney's 1988 composition, critical band.</p>
<p><em>gradient of detail</em>'s original drawings reveal how its form was conceived as a triptych; how such exceptionally-sustained music was intuitively designed to unfold in time, and in pitch space. they also reveal how unisons and silences are important structural elements, with the silences providing the listener with a few moments to release the intensity of the 'just heard', before the music continues.</p>
<p>resembling plant structures, the drawings were inspired by her childhood encounters with the alien-looking milkweed plant: its pods, its silky, "parachute seeds", and its occasional visitors––monarch butterfly caterpillars. milkweed is the only plant upon which the monarch will lay its eggs. tragically, the plant's habitats along the butterfly's migration routes in north america have been largely destroyed by modern agricultural practices.</p>
<h2>"prisma interius vi - for vt" by catherine lamb</h2>
<p>viola torros project is ongoing research, by composer-performers catherine lamb and johnny chang, which seeks to realise and arrange the compositions of a pre-medieval composer, viola torros.</p>
<p>viola t. was an anonymous composer who worked outside of the religious and academic establishments of her time. in her own practice, she documented her works in a minimally effective way, just enough to communicate with her fellow collaborators but barely enough to preserve a legacy for later generations of enthusiasts of her music.</p>
<p>the concept of ‘research’ referred to by the viola torros project involves studies of various relevant musical styles of the pre-medieval period (arabic, byzantine and indian modes), and investigating possible evolution of melodic and harmonic developments as v. t. might have discovered. choosing one aspect of such a musical style to focus upon, details are discovered and presented in an arrangement for two violas, often with additional augmentations.</p>
<hr />
<p><strong>performers:</strong></p>
<ul>
<li>jae a shin (violin)</li>
<li>karin nakayama (violin)</li>
<li>sofia von atzingen (viola)</li>
<li>rebekka stephan (cello)</li>
<li>ying yu (keyboard)</li>
</ul>