<h1>ya¹ ensemble</h1>
<p>das für die erste ausgabe des <em>ya¹ festival</em> zusammengestellte ensemble besteht aus fünf jungen musikerinnen aus dem ruhrgebiet.</p>
<p>für dieses konzert wurden zwei stücke selektiert die den drone als immanentes element beinhalten:</p>
<p><button class="accordion" data-target="gradients-panel">
"gradient of detail" von chiyoko szlavnics
</button></p>
<div class="panel" id="gradients-panel">
    <p>
        <em>gradient of detail</em> ist die zweite einer langen reihe von zeichnungsbasierten kompositionen, die chiyoko szlavnics zwischen 2004 und 2014 fertiggestellt hat.

        das äußerst anspruchsvolle material der komposition wurde durch das akustische konzept eines "kritischen bandes" inspiriert, das <a href="https://www.chiyokoszlavnics.org/">chiyoko szlavnics</a> durch james tenneys komposition <em>critical band</em> von 1988 kennen gelernt hat.

        die originalzeichnungen von <em>gradient of detail</em> zeigen, wie die form des werks als triptychon konzipiert wurde; wie eine solche außergewöhnlich statische musik intuitiv entworfen wurde, um sich in der zeit und im tonraum zu entfalten. sie zeigen auch, wie unisonos und stille wichtige strukturelemente sind, wobei die stille dem hörer einige momente bietet, um die intensität des gerade gehörten zu lösen, bevor die musik weitergeht.
    </p>

        <figure>
            <img class="chiyoko-drawing" src="/theme/images/chiyoko_drawings.jpg" alt="drawing by chiyoko szlavnics">
            <figcaption><footer><small class="photo-copyright-note">(zeichnung: <a href="https://www.chiyokoszlavnics.org/">chiyoko szlavnics</a>)</small></footer></figcaption>
        </figure>

    <p>
        die zeichnungen, die an pflanzenstrukturen erinnern, wurden von den kindheitsbegegnungen mit der fremdartig aussehenden seidenpflanze inspiriert: ihre schoten, ihre seidigen "fallschirmsamen" und ihre gelegentlichen besucher, die raupen des monarchfalters. seidenpflanzen sind die einzigen pflanze, auf denen der monarchfalter seine eier ablegt. tragischerweise sind die lebensräume der pflanze entlang der wanderrouten des schmetterlings in nordamerika durch moderne landwirtschaftliche praktiken weitgehend zerstört worden.
    </p>
</div>

<p><button class="accordion" data-target="primsa-panel">
"prisma interius vi - for vt" von catherine lamb
</button></p>
<div class="panel" id="primsa-panel">
    <p>
        das viola-torros-projekt ist eine fortlaufende forschungsarbeit der komponisten und interpreten <a href="https://www.sacredrealism.org/artists/catherine-lamb/">catherine lamb</a> und <a href="https://www.wandelweiser.de/johnny-chang.html">johnny chang</a>, die darauf abzielt, die kompositionen einer vormittelalterlichen komponistin, viola torros, zu realisieren und zu bearbeiten.

viola t. war eine anonyme komponistin, die außerhalb der religiösen und akademischen einrichtungen ihrer zeit arbeitete. in ihrer eigenen praxis dokumentierte sie ihre werke in einer minimal effektiven weise, gerade genug, um mit ihren mitarbeitern zu kommunizieren, aber kaum genug, um ein vermächtnis für spätere generationen von liebhabern ihrer musik zu erhalten.

das konzept der "forschung", auf das sich das viola-torros-projekt bezieht, umfasst das studium verschiedener relevanter musikstile des vormittelalters (arabische, byzantinische und indische modi) und die untersuchung möglicher melodischer und harmonischer entwicklungen, die v. t. entdeckt haben könnte. indem ein aspekt eines solchen musikstils ausgewählt wird, werden details entdeckt und in einem arrangement für zwei bratschen präsentiert, oft mit zusätzlichen ergänzungen.
    </p>
</div>

<hr />
<p><strong>ausführende</strong></p>
<ul>
<li>jae a shin (geige)</li>
<li>karin nakayama (geige)</li>
<li>sofia von atzingen (bratsche)</li>
<li>rebekka stephan (cello)</li>
<li>ying yu (keyboard)</li>
</ul>