<h1>ya¹ ensemble</h1>
<p>the ensemble, specially formed for the first edition of the ya¹ day festival for contemporary music, consists of five young musicians from the ruhr area.</p>
<p>for this concert, two pieces were selected that contain the drone as an intrinsic element:</p>
<p><button class="accordion" data-target="gradients-panel">
"gradients of detail" by chiyoko szlavnics
</button></p>
<div class="panel" id="gradients-panel">
    <p>
        <em>gradients of detail</em> is the second of a long series of drawing-based compositions which <a href="https://www.chiyokoszlavnics.org/">chiyoko szlavnics</a> completed between 2004-2014.

        the composition's extremely challenging material was inspired by the acoustical concept of a 'critical band'. <a href="https://www.chiyokoszlavnics.org/">chiyoko szlavnics</a> had been introduced to the concept by james tenney's 1988 composition, <em>critical band</em>.

    <em>gradients of detail</em>'s original drawings reveal how its form was conceived as a triptych; how such exceptionally-sustained music was intuitively designed to unfold in time, and in pitch space. they also reveal how unisons and silences are important structural elements, with the silences providing the listener with a few moments to release the intensity of the 'just heard', before the music continues.

    </p>

        <figure>
            <img class="chiyoko-drawing" src="/theme/images/chiyoko_drawings.jpg" alt="drawing by chiyoko szlavnics">
            <figcaption><footer><small class="photo-copyright-note">(drawings: <a href="https://www.chiyokoszlavnics.org/">chiyoko szlavnics</a>)</small></footer></figcaption>
        </figure>

    <p>
    resembling plant structures, the drawings were inspired by her childhood encounters with the alien-looking milkweed plant: its pods, its silky, "parachute seeds", and its occasional visitors––monarch butterfly caterpillars. milkweed is the only plant upon which the monarch will lay its eggs. tragically, the plant's habitats along the butterfly's migration routes in north america have been largely destroyed by modern agricultural practices.
    </p>
</div>

<p><button class="accordion" data-target="primsa-panel">
"prisma interius vi - for vt" by catherine lamb
</button></p>
<div class="panel" id="primsa-panel">
<!-- we don't know yet if we are allowed to use the given text -->
<!--
    <p>
        in <a href="https://www.sacredrealism.org/artists/catherine-lamb/">catherine lamb</a>'s <em>prisma interius</em> series the unpredictability of the outside articulates the field of perception through precise bandpass filters, while acoustic instruments and musicians guide the unfolding of its harmonic space. a series of nine pieces exploring the potential of the secondary rainbow synthesizer, an instrument developed in 2016-2017 with bryan eubanks, that uses the live environment outside the performance space as a noise generator for basic subtractive synthesis.

        the intention is to dynamically fuse the outside world and acoustic instruments and what emerges is a sort of aeolian harp residue highlighting the spectral information the listener might perceive in a given moment.
    </p>
-->
</div>

<hr />
<p><strong>performers</strong></p>
<ul>
<li>jae a shin (violin)</li>
<li>karin nakayama (violin)</li>
<li>sofia von atzingen (viola)</li>
<li>rebekka stephan (cello)</li>
<li>ying yu (keyboard)</li>
</ul>