@font-face {
  font-family: "ppmori";
  src: url('/theme/font/pp_mori/PPMori-SemiBold.otf');
  src: url('/theme/font/pp_mori/PPMori-SemiBoldItalic.otf') format('embedded-opentype'),
}

body {
  background-image: url("/images/moss_erk.JPG");
  font-family: "ppmori";
}
