#index-page-container {
    background-image: url("/theme/images/index_page_background_scaled.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.zoom-on-hover {
    transform: scale(1);
    transition: transform .2s; /* Animation */
}

.zoom-on-hover:hover {
    transform: scale(1.5);
}
