@font-face {
  font-family: "ppmori";
  src: url('"static/font/pp mori/PPMori-SemiBold.otf"');
  src: url('static/font/pp mori/PPMori-SemiBoldItalic.otf') format('embedded-opentype'),

}
body {
  background-image: url(""static\bild\moss_erk.JPG"");
}
