:root {
  --ya-header-color: #FCF698;
  --ya-link-color: #FF9090;
  --ya-text-color: #6666FF;
  --ya-text-color-salmon: #F2C7C7;
  --ya-poster-blue: #7ab2e1;
}

@font-face {
    font-family: "ppmori";
    src: url('/theme/font/pp_mori/PPMori-SemiBold.otf');
}

@font-face {
    font-family: "ppmori-italic";
    src: url('/theme/font/pp_mori/PPMori-SemiBoldItalic.otf');
}

body {
    font-family: "ppmori";
}

.is-sticky {
    position: sticky;
    vertical-align: top;
    top: 0;
    bottom: 0;
    max-height: 100vh;
}

.ya-text {
    color: var(--ya-text-color);
    text-align: justify !important;
    /* text-align-last: justify; */
    text-align-last: left;
}

.ya-table-text {
    color: var(--ya-text-color);
    text-align: left !important;
}

.ya-menu-link {
    color: var(--ya-link-color) !important;
}

.ya-menu-link:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: "ppmori-italic";
    color: var(--ya-link-color) !important;
}

.ya-footer-link {
    font-family: "ppmori";
    color: white
}

.ya-footer-link:hover {
    font-family: "ppmori-italic";
    color: white;
}

.ya-menu-link-color {
    color: var(--ya-link-color);
}


.footer-button {
    color: white;
    background-color: var(--ya-link-color);
}


.ya-text-link {
    color: var(--ya-text-color);
}

.ya-text-link:hover {
    background-color: rgba(0, 0, 0, 0);
    font-family: "ppmori-italic";
    color: var(--ya-text-color);
}

.zoom-on-hover {
    transform: scale(1);
    transition: transform .2s; /* Animation */
}

.zoom-on-hover:hover {
    transform: scale(1.25);
}

.footer-logo {
    width: 500px;
    height: auto;
}
