{% macro make_artist(act_id, img_url, description_text_list, time, venue) %}

{% set modal_id = "modal_for_" + act_id %}
{% set modal_content_path = "acts/" + act_id + ".html" %}

<div class="modal" id="{{- modal_id -}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        {% include modal_content_path %}
    </section>
  </div>
</div>


<div class="card js-modal-trigger grey-on-hover" data-target="{{- modal_id -}}">
    <div class="card-image">
        <img src="{{- img_url -}}">
    </div>
    <div class="card-content">

      <header class="card-header">
            <div class="columns pb-0 mb-0">
            {% for description_text in description_text_list %}
                <div class="column">
                    <p class="description-text is-size-4">{{ description_text|upper }}</p>
                </div>
            {% endfor %}
            </div>
        </header>

        <p class="ya-text is-size-5">{{ venue }} // {{ time }}</p>

    </div>
</div>


{% endmacro %}

