{% extends "homepage.html" %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css"/>
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/acts.css" />
{% endblock head %}

{% set language = article.title %}

{% from 'act.j2' import make_artist %}

{% block content %}

<div class="container">
    {% for artist in [
        [
            make_artist(
                    "virginia_nicoli",
                    "/theme/images/artists/resized/virginia_nicoli.jpg",
                    ["I. VIRGINIA NICOLI", "SINGT", "DHRUPAD"],
                    "10 uhr",
                    "altkatholische friedenskirche, essen",
                    "https://de.wikipedia.org/wiki/Friedenskirche_(Essen)"
                ),
             make_artist(
                    "virginia_nicoli",
                    "/theme/images/artists/resized/virginia_nicoli.jpg",
                    ["I. VIRGINIA NICOLI", "SINGS", "DHRUPAD"],
                    "10am",
                    "altkatholische friedenskirche, essen",
                    "https://de.wikipedia.org/wiki/Friedenskirche_(Essen)"
                )
        ],
        [
            make_artist(
                "callum_armstrong",
                "/theme/images/artists/resized/callum_armstrong.jpg",
                ["II. CALLUM ARMSTRONG", "SPIELT", "PIBROCH"],
                "13 uhr",
                "borbecker innenstadt",
                "https://www.google.com/maps/place/51.47400354524845,%206.949959146281619"
            ),
            make_artist(
                "callum_armstrong_en",
                "/theme/images/artists/resized/callum_armstrong.jpg",
                ["II. CALLUM ARMSTRONG", "PLAYS", "PIBROCH"],
                "1pm",
                "borbeck city",
                "https://www.google.com/maps/place/51.47400354524845,%206.949959146281619"
            )
        ],
        [
            make_artist(
                "johannes_winkler",
                "/theme/images/artists/resized/johannes_winkler.png",
                ["III. JOHANNES WINKLER", "DEKONSTRUIERT", "IN EINER LECTURE PERFORMANCE"],
                "15 uhr",
                "gemeindezentrum an der dreifaltigkeitskirche, essen",
                "https://www.gemeinde-borbeck-vogelheim.de/unsere-kirchen/dreifaltigkeitskirche/"
            ),
            make_artist(
                "johannes_winkler_en",
                "/theme/images/artists/resized/johannes_winkler.png",
                ["III. JOHANNES WINKLER", "DECONSTRUCTS", "IN A LECTURE PERFORMANCE"],
                "3pm",
                "community centre at dreifaltigkeitskirche, essen",
                "https://www.gemeinde-borbeck-vogelheim.de/unsere-kirchen/dreifaltigkeitskirche/"
            )
        ],
        [
            make_artist(
                "vox_nostra",
                "/theme/images/artists/resized/Vox_Nostra_Hedwig035.jpeg",
                ["IV. VOX NOSTRA", "ERWECKT", "GREGORIANIK & MEHRSTIMMIGKEIT DER NOTRE-DAME"],
                "17 uhr",
                "matthäuskirche, essen-borbeck",
                "https://www.gemeinde-borbeck-vogelheim.de/unsere-kirchen/matth%C3%A4uskirche/",
                photographer="Frank Blum"
            ),
            make_artist(
                "vox_nostra_en",
                "/theme/images/artists/resized/Vox_Nostra_Hedwig035.jpeg",
                ["IV. VOX NOSTRA", "REINVIGORATES", "GREGONIAN CHANTS & POLYPHONY OF NOTRE-DAME"],
                "5pm",
                "matthäuskirche, essen-borbeck",
                "https://www.gemeinde-borbeck-vogelheim.de/unsere-kirchen/matth%C3%A4uskirche/",
                photographer="Frank Blum"
            )
        ],
        [
            make_artist(
                "ya_ensemble",
                "/theme/images/artists/resized/virginia_nicoli.jpg",
                ["V. YA¹ ENSEMBLE", "INTERPRETIERT", "WERKE VON C. LAMB & C. SZLAVNICS"],
                "19 uhr",
                "schloss borbeck",
                "https://www.essen.de/leben/kultur_/schloss_borbeck_/schloss_borbeck_.de.html",
                photographer="theresa"
            ),
            make_artist(
                "ya_ensemble_en",
                "/theme/images/artists/resized/virginia_nicoli.jpg",
                ["V. YA¹ ENSEMBLE", "INTERPRETS", "COMPOSITIONS OF C. LAMB & C. SZLAVNICS"],
                "7pm",
                "schloss borbeck",
                "https://www.essen.de/leben/kultur_/schloss_borbeck_/schloss_borbeck_.de.html",
                photographer="theresa"
            )
        ],
        [
            make_artist(
                "tamon_yashima",
                "/theme/images/artists/resized/tamon_yashima.jpg",
                ["VI. TAMON YASHIMA", "COMPROVISIERT", "NOISE"],
                "21 uhr",
                "schlosspark borbeck",
                "https://www.google.com/maps/place/51.47025867797859,%206.943378619556603",
                photographer="Sophia Hegewald"
            ),
            make_artist(
                "tamon_yashima_en",
                "/theme/images/artists/resized/tamon_yashima.jpg",
                ["VI. TAMON YASHIMA", "COMPROVISES", "NOISE"],
                "9pm",
                "schlosspark borbeck",
                "https://www.google.com/maps/place/51.47025867797859,%206.943378619556603",
                photographer="Sophia Hegewald"
            )
        ]
    ] %}
    <div class="columns">
        {% if language == "de" %}
            {% set artist = artist[0] %}
        {% else %}
            {% set artist = artist[1] %}
        {% endif %}
        {% if loop.index % 2 == 0 %}
            <div class="column"></div>
            <div class="column right-column">{{ artist }}</div>
        {% else %}
            <div class="column left-column">{{ artist }}</div>
            <div class="column"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modal.js"></script>

{% endblock content %}
