{% import 'navigation.j2' as navigations %}

{% set FOOTER_ITEM_LIST = [
    [{"de": "impressum", "en": "impressum"}, "impressum"],
    [{"de": "datenschutz", "en": "datenschutz"}, "datenschutz"],
] %}

{% set LINK_LIST = [
    ("instagram", "https://www.instagram.com/ya1festival/"),
    ("facebook", "https://www.facebook.com/ya1festival/"),
] %}

{% macro make_footer_button(content) %}
<button class="button is-rounded is-responsive footer-button">
    {{ content }}
</button>
{% endmacro %}

{% macro make_social_media_link(link_name, link) %}
    <a class="ya-footer-link" href="{{ link }}">{{ link_name|upper }}</a>
{% endmacro %}

{% macro get_footer(language, site_url) %}

<div class="columns is-centered ya-footer is-fluid">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <p class="ya-text">
            {% if language == "de" %}
                gefördert durch
            {% else %}
                funded by
            {% endif %}
        </p>
        {% for logo_file_name, link in
            [
                ["KE_Logo_klein_05.jpg", "https://www.kulturstiftung-essen.de/"],
                ["Logo-Kulturamt-Outline-schwarz-grau.jpg", "https://www.essen.de/leben/kultur_/ansprechpartner_.de.html"],
                ["Sparkasse.jpeg", "https://www.sparkasse-essen.de/de/home.html"]
            ]
        %}
            <figure class="image is-128x128 zoom-on-hover">
                <a href="{{ url }}">
                    <img src="/theme/images/{{ logo_file_name }}">
                </a>
            </figure>
        {% endfor %}
    </div>
    <div class="column">
        <p class="ya-text">
            {% if language == "de" %}
                in kooperation mit
            {% else %}
                in cooperation with
            {% endif %}
        </p>
        {% for logo_file_name, url in [["GNMR_Logo.jpg", "https://www.gnmr.de/"]] %}
            <figure class="image is-128x128 footer-logo zoom-on-hover">
                <a href="{{ url }}">
                    <img src="/theme/images/{{ logo_file_name }}">
                </a>
            </figure>
        {% endfor %}
    </div>
</div>

<footer>
    <div class="columns is-centered ya-footer is-fluid">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            {% for link_name, link in LINK_LIST %}
                {{ make_footer_button(make_social_media_link(link_name, link)) }}
            {% endfor %}
            {% for title_dict, link in FOOTER_ITEM_LIST %}
                {{ make_footer_button(navigations.get_navigation_link(title_dict, link, language, site_url, true, "ya-footer-link")) }}
            {% endfor %}
        </div>
    </div>
</footer>
{% endmacro %}
