{% import 'navigation.j2' as navigations %}

{% set FOOTER_ITEM_LIST = [
    [{"de": "förderer", "en": "sponsors"}, "sponsors"],
    [{"de": "impressum", "en": "impressum"}, "impressum"],
    [{"de": "datenschutz", "en": "datenschutz"}, "datenschutz"],
] %}

{% macro get_footer(language, site_url) %}
<div class="columns is-centered ya-footer is-fluid">
    <div class="column"></div>
    <div class="column">
        {% for title_dict, link in FOOTER_ITEM_LIST %}
            <button class="button is-rounded footer-button">
                {{ navigations.get_navigation_link(title_dict, link, language, site_url, true, "ya-footer-link") }}
            </button>
        {% endfor %}
    </div>
    <div class="column"></div>
</div>
{% endmacro %}
