{% extends "homepage_base.html" %}

{% block header_text %}
    {% if language == "de" %}
        das ya¹ festival erstmalig am 6. august mit 6 konzerten an 6 verschiedenen locations und 6 unterschiedlichen musiktraditionen. ein musikalischer spaziergang durch essen-borbeck.
    {% else %}
        the ya¹ festival will happen on 6th of august for the first time with 6 concerts at 6 different locations and 6 different music traditions. a musical walk through essen-borbeck.
    {% endif %}
{% endblock %}

{% block sidebar_text %}
    {% if language == "de" %}
        ¹yet another tagesfestival für aktuelle musik
    {% else %}
        ¹yet another day festival for contemporary music
    {% endif %}
{% endblock %}

{% block location %}
    {% if language == "de" %}
        essen-borbeck&umgebung
    {% else %}
        essen-borbeck&surroundings
    {% endif %}
{% endblock %}

{% block time %}
    {% if language == "de" %}
        10:00 - 22:00
    {% else %}
        10:00 AM - 10:00 PM
    {% endif %}
{% endblock %}

