<!DOCTYPE html>

<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css" />
        {% endblock head %}
    </head>
    <body>
        <div class="columns is-variable">
            <!-- Dropdown menu for phones -->
            <div class="column is-hidden-tablet">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <p class="rotate is-size-2">ya¹</p>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="false"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for title, link in MENU_ITEM_LIST %}
                            <div class="dropdown-item">
                                <a href="{{ link }}" class="ya-menu-link">{{ title }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky sidebar for everything bigger than mobile. -->
            <div class="columns is-variable is-hidden-mobile sidebar ya-navigation-bar is-gapless">
                <div class="column is-three-fifths is-hidden-overflow-x mr-0 pr-0">
                    <div class="container p-0 m-0">
                        <span style="white-space: nowrap;" class="rotate is-size-1-fullhd is-size-1-widescreen-only is-size-1-desktop-only is-size-1-tablet-only is-size-1">
                            ¹yet another tagesfestival für aktuelle musik
                        </span>
                    </div>
                </div>
                <div class="column is-sticky ml-0 pl-0" id="ya-menu">
                    <nav class="menu p-0 ml-0 mt-6 pt-6">
                        <ul style="line-height: 1vh;" class="menu-list p-0 m-0">
                            {% for title, link in MENU_ITEM_LIST %}
                            <li class="p-0 m-0">
                                <p class="is-size-4-widescreen">
                                    <a href="{{ link }}" class="ya-menu-link">{{ title }}</a>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div> 
            <!-- Page content -->
            <div class="column">
                <section class="section">
                    <div class="container">
                        {% block content %}
                        {{ article.content }}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/homepage.js"></script>
    </body>
</html>
