{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css" />
{% endblock head %}

{% set language = article.title %}

{% block body %}

{% macro get_navigation_link(title_dict, link) %}
    <a href="{{ SITEURL }}/{{ link }}{% if language == "en" %}{{ "/en" }}{% endif %}" class="ya-menu-link">{{ title_dict[language] }}</a>
{% endmacro %}

<!-- HEADER -->
<div class="container ya-header ml-0 mt-0 mr-0 pl-0 pt-0 pr-0 mb-4">
    <div class="columns mt-0 pt-0"></div>
    <div class="columns ml-0 mr-0 pl-0 pr-0 mt-6 pt-6">
        <div class="column is-half pr-5 mr-5">
        </div>
        <div class="column pl-6 ml-6 pt-6 mt-6">
            <p class="ya-text">
                {% block header_text %}
                {% endblock %}
            </p>
        </div>
    </div>
    <div class="columns mb-0 pb-0">
        <div class="column">
        </div>
        <div class="column">
            <figure class="image is-3by1">
                <img id="be-there" src="/theme/images/be_there_compressed.png">
            </figure>
        </div>
        <div class="column time-and-space is-size-3 has-text-right">
            <p class="pb-0 mb-0">06.08.2022</p>
            <p class="pt-0 mt-0 pb-0 mb-0">
                {% block time %}
                {% endblock %}
            </p>
        </div>
    </div>
    <div class="columns mt-0 pt-0">
        <div class="column">
        </div>
        <div class="column time-and-space is-size-3">
            <p>
            {% block location %}
            {% endblock %}
            </p>
        </div>
    </div>
</div>

<!-- BLOCK -->
<div class="columns is-variable">
    <!-- Dropdown menu for phones -->
    <div class="column is-hidden-tablet">
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button is-large ya-menu-button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <p class="rotate is-size-3">ya¹</p>
                    <span class="icon is-large">
                        <i class="fas fa-angle-down" aria-hidden="false"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for title_dict, link in MENU_ITEM_LIST %}
                    <div class="dropdown-item">
                        {{ get_navigation_link(title_dict, link) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Sticky sidebar for everything bigger than mobile. -->
    <div class="columns is-variable is-hidden-mobile sidebar ya-navigation-bar is-gapless">
        <div class="column is-three-fifths is-hidden-overflow-x mr-0 pr-0">
            <div class="container p-0 m-0">
                <span style="white-space: nowrap;" class="rotate is-size-1-fullhd is-size-1-widescreen-only is-size-1-desktop-only is-size-1-tablet-only is-size-1">
                    {% block sidebar_text %}
                    {% endblock %}
                </span>
            </div>
        </div>
        <div class="column is-sticky is-max-height-view-point ml-0 pl-0" id="ya-menu">
            <nav class="menu p-0 ml-0 mt-6 pt-6">
                <ul style="line-height: 1vh;" class="menu-list p-0 m-0">
                    {% for title_dict, link in MENU_ITEM_LIST %}
                    <li class="p-0 m-0">
                        <p class="is-size-4-widescreen">
                        {{ get_navigation_link(title_dict, link) }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div> 
    <!-- Page content -->
    <div class="column">
        <section class="section">
            <div class="container">
                {% block content %}
                {{ article.content }}
                {% endblock %}
            </div>
        </section>
    </div>
</div>

<!-- FOOTER -->
<div class="container has-text-right pr-4 mr-4">
    <p class="is-size-2 ya-menu-link-color">
    <a href="/" class="ya-menu-link">EN</a> . <a href="/" class="ya-menu-link">DE</a>
    </p>
</div>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/homepage.js"></script>

{% endblock body %}
