{% extends "base.html" %}

{% import 'language_selector.j2' as language_selectors %}
{% import 'footer.j2' as footers %}
{% import 'navigation.j2' as navigations %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css"/>
{% endblock head %}

{% set language = article.title %}

{% block body %}

{% macro get_time_and_space_classes() %}
{{ "column time-and-space is-size-4 is-size-3-desktop-only is-size-3-widescreen-only is-size-2-fullhd has-text-right" }}
{% endmacro %}

<!-- HEADER FOR PHONES -->
<div class="navbar is-hidden-tablet ml-0 mt-0 mr-0 pl-0 pt-0 pr-0 mb-0 pb-0 is-fluid is-fixed-top">
    <div class="columns mb-0 pb-0 is-mobile">
        <div class="column">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <img class="mobile-dropdown-image" src="/theme/images/yllwmoss_ya1_erk_resized_cropped.png">
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for title_dict, link in MENU_ITEM_LIST %}
                        <div class="dropdown-item">
                            {{ navigations.get_navigation_link(title_dict, link, language, SITEURL) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ya-text">
                <p class="pb-0 mb-0">06.08.2022</p>
                <p class="pt-0 pb-0 mt-0 mb-0">
                    {% block location_mobile %}
                    {% endblock %}
                </p>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-right pr-4 mr-4">
                {{ language_selectors.get_language_selector(language, SITEURL + "/" + article.slug) }}
            </div>
        </div>
    </div>
    <hr>
</div>

<!-- HEADER FOR ANYTHING BIGGER THAN PHONES -->
<div class="container is-hidden-mobile ya-header ml-0 mt-0 mr-0 pl-0 pt-0 pr-0 mb-0 pb-0 is-fluid">
    <div class="columns mt-0 pt-0"></div>
    <div class="container has-text-right pr-4 mr-4">
        {{ language_selectors.get_language_selector(language, SITEURL + "/" + article.slug) }}
    </div>
    <div class="columns mb-0 pb-0">
        <div class="column">
        </div>
        <div class="column">
            <img id="be-there" src="/theme/images/be_there_compressed.png">
            <p class="ya-text pt-0 mt-0">
                {% block header_text %}
                {% endblock %}
            </p>
        </div>
        <div class="column">
            <div class="{{ get_time_and_space_classes() }}">
                <p class="pb-0 mb-0">06.08.2022</p>
                <p class="pt-0 mt-0 pb-0 mb-0">
                    {% block time %}
                    {% endblock %}
                </p>
                <p class="pt-0 pb-0 mt-0 mb-0">
                    {% block location %}
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- BLOCK -->
<div class="columns is-fluid mt-0 pt-0">
    <!-- Sticky sidebar for everything bigger than mobile. -->
    <div class="columns is-variable is-hidden-mobile sidebar is-gapless mr-2">
        <div class="column is-three-fifths is-hidden-overflow-x mr-0 pr-0">
            <div class="container p-0 m-0">
                <span style="white-space: nowrap;" class="rotate is-size-1-fullhd is-size-1-widescreen-only is-size-1-desktop-only is-size-1-tablet-only is-size-1">
                    {% block sidebar_text %}
                    {% endblock %}
                </span>
            </div>
        </div>
        <div class="column is-sticky is-max-height-view-point ml-0 pl-0 mr-0 pr-0" id="ya-menu">
            <nav class="menu p-0 ml-0 mt-6 pt-6">
                <ul style="line-height: 1vh;" class="menu-list p-0 m-0">
                    {% for title_dict, link in MENU_ITEM_LIST %}
                    <li class="p-0 m-0">
                        <p class="is-size-4-widescreen">
                        {{ navigations.get_navigation_link(title_dict, link, language, SITEURL) }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="column ml-0 pl-0" id="sliced-sidebar-image">
            <p style="opacity: 0;">abc</p>
            <!-- img id="sliced-sidebar-image" src="/theme/images/moss_erk_sliced.png" --!>
        </div>
    </div> 
    <!-- Page content -->
    <div class="column">
        <section class="section">
            <div class="container" id="content">
                {% block content %}
                {{ article.content }}
                {% endblock %}
            </div>
        </section>
    </div>
</div>


<!-- FOOTER -->
{{ footers.get_footer(language, SITEURL) }}

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/homepage.js"></script>

{% endblock body %}
