{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/index.css" />
{% endblock head %}

{% block body %}

<div class="container p-0 m-0" id="index-page-container">
    <div class="columns is-sticky">
        <div class="column is-one-third"></div>
        <div class="column is-one-third full-image">
                <img src="/theme/images/ya_logo_scaled.png">
        </div>
        <div class="column is-one-third"></div>
    </div>

    <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third"></div>
        <div class="column is-one-third">
            <p class="ya-text">
            im sinne eines postkolonialen diskurs soll
            unterschiedliche verterer:innen von raeumlich und zeitlich getrennter avancierter
            musiktraditionen innherlab
            innerhalb der in ihrer tradition angemessenen auffuehreungsbedingungen.
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column is-half"></div>
        <div class="column">
            <figure class="image is-2by1">
                <img src="/theme/images/1font_ya1_erk.png">
            </figure>
        </div>
    </div>

    <div class="columns pl-4 ml-6">
        <div class="column">
            <p class="ya-text">
            im sinne eines postkolonialen diskurs soll
            unterschiedliche verterer:innen von raeumlich und zeitlich getrennter avancierter
            musiktraditionen innherlab
            innerhalb der in ihrer tradition angemessenen auffuehreungsbedingungen.
            </p>
        </div>
        <div class="column is-three-fifths"></div>
    </div>

    <div class="columns mb-0 pb-0">
        <div class="column is-half"></div>
        <div class="column">
            <figure class="image is-2by1">
                <img src="/theme/images/2font_ya1_erk_cropped.png">
            </figure>
        </div>
    </div>

    <div class="columns mt-0 pt-0">
        <div class="column"></div>
        <div class="column is-three-fifths">
            <figure class="image is-2by1">
                <img src="/theme/images/3font_ya1_erk.png">
            </figure>
        </div>
    </div>

</div>

{% endblock body %}
