{% extends "base.html" %}

{% block content %}

<section id="content">
  <div style="display:inline-block;vertical-align:bottom;">
  </div>
  <img src="\theme\images\logo_dummi_erk.png" width="300" height="300" >
  <div style="display:inline-block;">
    <pre>
   Unterschiedliche Vertreter:innen von räumlich und
   zeitlich getrennter avancierter Musiktraditionen
   innerhalb der in ihrer Tradition angemessenen
   Aufführungsbedingungen performen Yet Another¹.
    </pre>
  </div>

    <ul class="inline-ul">
        <li class="inline-li">06. August 2022</li>
        <li class="inline-li">Essen</li>
        <li class="inline-li">10 - 22 Uhr</li>
    </ul>

    <pre>
      <div style="text-align:center""text-align:center"
      </div>
      Neue Musik wird in diesem Kontext eine Musiktradition
      unter vielen. Im Sinne eines postkolonialen Diskurs' soll
      die Begriffe des Zeitgenössischen und des universal
      verstandenen Fortschritts in Frage gestellt und
      neu interpretiert werden.
     </pre>

    <hr>
    <hr>

    <h2>ya¹ day festival for contemporary music</h2>
    <ul class="inline-ul">
        <li class="inline-li">06. August 2022</li>
        <li class="inline-li">Essen</li>
        <li class="inline-li">10 AM - 10 PM</li>
    </ul>

    <p>
    In the "ya¹ day festival for contemporary music", different representatives of spatially and temporally separated advanced musical traditions perform within the performance conditions appropriate to their tradition.
    In this context, eurological New Music becomes one musical tradition among many.
    In the sense of a postcolonial discourse, the concepts of contemporaneity and universally understood progress are thus to be questioned and reinterpreted.
    In order not to arbitrarily string together different traditions, the festival will take place under the overarching catchword "drone".
    Specifically, concerts from the traditions of dhrupad, the Notre Dame school, eurological New Music, Scottish Pibroch and electronic music are intended.
    </p>

    <p>
    ¹tagesfestival
    </p>


</section>

{% endblock content %}
