{% extends "index_base.html" %}

{% block text0 %}
    {% if language == "de" %}
        click, click, click, yet another click, click, click
    {% else %}
        click, click, click, yet another click, click, click
    {% endif %}
{% endblock %}

{% block text1 %}
    {% if language == "de" %}
    {% else %}
        enlish text enlish textenlish textenlish textenlish text
        enlish text enlish textenlish textenlish textenlish text
        enlish text enlish textenlish textenlish textenlish text
        enlish text enlish textenlish textenlish textenlish text
    {% endif %}
{% endblock %}
