{% extends "base.html" %}

{% import 'language_selector.j2' as language_selectors %}
{% import 'navigation.j2' as navigations %}

{% block head %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/index.css" />
{% endblock head %}

{% if article is not defined or article is none %}
    {% set language = "de" %}
    {% set url = SITEURL %}
{% else %}
    {% set language = article.title %}
    {% set url = SITEURL + "/" + language %}
{% endif %}

{% block body %}

<div class="container p-0 m-0 is-fluid" id="index-page-container">
    <div class="container has-text-right pr-4 mr-4">
        {{ language_selectors.get_language_selector(language, url) }}
    </div>
    <div class="columns is-sticky">
        <div class="column is-one-third"></div>
        <div class="column is-one-third full-image">
                <a href="{{ navigations.get_navigation_url(SITEURL, "maps", language) }}">
                    <img class="zoom-on-hover" src="/theme/images/ya_logo_scaled.png">
                </a>
        </div>
        <div class="column is-one-third"></div>
    </div>

    <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third"></div>
        <div class="column is-one-third">
            <p class="ya-text">
            {% block text0 %}
            {% endblock %}
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column is-half"></div>
        <div class="column">
            <figure class="image is-2by1">
                <img src="/theme/images/1font_ya1_erk.png">
            </figure>
        </div>
    </div>

    <div class="columns pl-4 ml-6">
        <div class="column">
            <p class="ya-text">
            {% block text1 %}
            {% endblock %}
            </p>
        </div>
        <div class="column is-three-fifths"></div>
    </div>

    <div class="columns mb-0 pb-0">
        <div class="column is-half"></div>
        <div class="column">
            <figure class="image is-2by1">
                <img src="/theme/images/2font_ya1_erk_cropped.png">
            </figure>
        </div>
    </div>

    <div class="columns mt-0 pt-0">
        <div class="column"></div>
        <div class="column is-three-fifths">
            <figure class="image is-2by1">
                <img src="/theme/images/3font_ya1_erk.png">
            </figure>
        </div>
    </div>

</div>

{% endblock body %}
