{% extends "base.html" %}

{% block content %}

<section id="content">

{% block content_title %}
{% endblock %}

    <h2>ya¹ Tagesfestival für aktuelle Musik</h2>
    <ul class="inline-ul">
        <li class="inline-li">06. August 2022</li>
        <li class="inline-li">Essen</li>
        <li class="inline-li">10 - 22 Uhr</li>
    </ul>

    <p>
    Im "ya¹ Tagesfestival für aktuelle Musik" performen unterschiedliche Vertreter:innen räumlich und zeitlich getrennter avancierter Musiktraditionen innerhalb der in ihrer Tradition angemessenen Aufführungsbedingungen.
    Neue Musik wird in diesem Kontext eine Musiktradition unter vielen. Damit soll im Sinne eines postkolonialen Diskurs' die Begriffe des Zeitgenössischen und des universal verstandenen Fortschritts in Frage gestellt und neu interpretiert werden.
    Um unterschiedliche Traditionen nicht willkürlich aneinanderzureihen, findet das Festival unter dem übergreifenden Schlagwort "drone" statt.
    Konkret sind Konzerte aus den Traditionen des Dhrupad, der Notre Dame - Schule, der eurologischen Neuen Musik, des schottischen Pibroch und der Elektronischen Musik intendiert.
    </p>

    <p>
    ¹yet another
    </p>

    <hr>
    <hr>

    <h2>ya¹ day festival for contemporary music</h2>
    <ul class="inline-ul">
        <li class="inline-li">06. August 2022</li>
        <li class="inline-li">Essen</li>
        <li class="inline-li">10 AM - 10 PM</li>
    </ul>

    <p>
    In the "ya¹ day festival for contemporary music", different representatives of spatially and temporally separated advanced musical traditions perform within the performance conditions appropriate to their tradition.
    In this context, eurological New Music becomes one musical tradition among many.
    In the sense of a postcolonial discourse, the concepts of contemporaneity and universally understood progress are thus to be questioned and reinterpreted.
    In order not to arbitrarily string together different traditions, the festival will take place under the overarching catchword "drone".
    Specifically, concerts from the traditions of dhrupad, the Notre Dame school, eurological New Music, Scottish Pibroch and electronic music are intended.
    </p>

    <p>
    ¹yet another
    </p>


</section>

{% endblock content %}
