{% extends "homepage_middle.html" %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css"/>
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/maps.css" />
{% endblock head %}


{% set language = article.title %}

{% if language == "de" %}
    {% set img_href = "/theme/images/acts_karte_ya1_erk_scaled.png" %}
    {% set suffix0 = "" %}
    {% set suffix1 = "" %}
{% else %}
    {% set img_href = "/theme/images/acts_karte_ya1_erk_scaled_en.png" %}
    {% set suffix0 = "/en" %}
    {% set suffix1 = "_en" %}
{% endif %}


{% block content %}

<!-- MAP FOR MOBILE -->
<div class="container is-hidden-tablet">

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2213 2673">
      <image width="2213" height="2673" xlink:href="/theme/images/mobile_karte_ya1_erk_scaled.png"></image> <a xlink:href="/acts#callum_armstrong">
    <rect x="218" y="709" fill="#fff" opacity="0" width="1021" height="182"></rect>
      </a><a xlink:href="/acts{{ suffix0 }}#johannes_winkler{{ suffix1 }}">
    <rect x="108" y="0" fill="#fff" opacity="0" width="2105" height="274"></rect>
      </a><a xlink:href="/acts{{ suffix0 }}#virginia_nicoli{{ suffix1 }}">
    <rect x="1034" y="2476" fill="#fff" opacity="0" width="1179" height="197"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#tamon_yashima{{ suffix1 }}">
    <rect x="706" y="1042" fill="#fff" opacity="0" width="676" height="264"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#ya_ensemble{{ suffix1 }}">
    <rect x="0" y="1514" fill="#fff" opacity="0" width="552" height="280"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#vox_nostra{{ suffix1 }}">
    <rect x="1282" y="1934" fill="#fff" opacity="0" width="748" height="236"></rect>
  </a>
  </svg>

</div>

<!-- MAP FOR ANYTHING BIGGER THAN MOBILE -->
<div class="container is-hidden-mobile">

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2213 2673">
      <image width="2213" height="2673" xlink:href="{{ img_href }}"></image> <a xlink:href="/acts#callum_armstrong">
    <rect x="218" y="709" fill="#fff" opacity="0" width="1021" height="182"></rect>
      </a><a xlink:href="/acts{{ suffix0 }}#johannes_winkler{{ suffix1 }}">
    <rect x="108" y="0" fill="#fff" opacity="0" width="2105" height="274"></rect>
      </a><a xlink:href="/acts{{ suffix0 }}#virginia_nicoli{{ suffix1 }}">
    <rect x="1034" y="2476" fill="#fff" opacity="0" width="1179" height="197"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#tamon_yashima{{ suffix1 }}">
    <rect x="706" y="1042" fill="#fff" opacity="0" width="676" height="264"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#ya_ensemble{{ suffix1 }}">
    <rect x="0" y="1514" fill="#fff" opacity="0" width="552" height="280"></rect>
    </a><a xlink:href="/acts{{ suffix0 }}#vox_nostra{{ suffix1 }}">
    <rect x="1282" y="1934" fill="#fff" opacity="0" width="748" height="236"></rect>
  </a>
  </svg>

</div>

{% endblock content %}
