{% macro get_navigation_link(
    title_dict,
    link,
    language,
    site_url,
    use_upper=false,
    class="ya-menu-link"
) %}

    {% set content = title_dict[language] %}

    {% if use_upper %}
        {% set content = content|upper %}
    {% endif %}

    {% set href = site_url + "/" + link %} 
    {% if language == "en" %}
        {% set href = href + "/en" %} 
    {% endif %}

    <a href="{{ href }}" class={{ class }}>
        {{ content }}
    </a>

{% endmacro %}
