{% extends "homepage_short.html" %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/homepage.css"/>
{% if language == "de" %}
<script type="text/javascript" src="https://pretix.eu/widget/v1.de-informal.js" async></script>
{% else %}
<script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>
{% endif %}
{% endblock head %}

{% block content %}

<pretix-widget event="https://pretix.eu/ya1festival/2022/"></pretix-widget>

<noscript>
   <div class="pretix-widget">
        <div class="pretix-widget-info-message">
            JavaScript ist in Ihrem Browser deaktiviert. Um unseren Ticket-Shop ohne JavaScript aufzurufen, klicken Sie bitte <a target="_blank" rel="noopener" href="https://pretix.eu/ya1festival/2022/">hier</a>.
        </div>
    </div>
</noscript>

<p class="ya-text">
{% if language == "de" %}
    *die konzerte von callum armstrong und tamon yashima können kostenlos besucht werden.
{% else %}
    *the concerts of callum armstrong and tamon yashima are free.
{% endif %}
</p>
{% endblock content %}
